<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/../public/index.css" type="text/css" />
    <title>Forum!</title>
  </head>
  <body>
    <h1>Welcome to the forum!</h1>
    <p>Talk about stuff here.</p>
    <div id="new-post">
      <form action="/new" method="POST">
        <input
          type="text"
          name="title"
          id="new-title"
          placeholder="Post Title"
        />
        <input
          type="text"
          name="author"
          id="new-author"
          placeholder="Your name"
        />
        <textarea name="content"></textarea>
        <input type="submit">
      </form>
    </div>
    <div id="posts">This is where posts will go.</div>
  </body>
  <hr />
  <footer>
    &copy; <a href="https://www.nhcarrigan.com">Nicholas Carrigan</a>
  </footer>
  <script>
    var exports = { __esModule: true };
  </script>
  <script src="../public/index.js"></script>
</html>
