<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/../public/index.css" type="text/css" />
    <title>Forum!</title>
  </head>
  <body>
    <h1>Welcome to the forum!</h1>
    <p>Talk about stuff here.</p>
    <div id="posts">This is where posts will go.</div>
  </body>
  <hr />
  <footer>
    &copy; <a href="https://www.nhcarrigan.com">Nicholas Carrigan</a>
  </footer>
</html>
