<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/../public/index.css" type="text/css" />
    <title>Forum!</title>
  </head>
  <div id="modal-overlay"></div>
  <body>
    <h1>Welcome to the forum!</h1>
    <p>Talk about stuff here.</p>
    <button onclick="createPost()">Create Post</button>
    <div id="posts">This is where posts will go.</div>
    <div id="new-post">
      <form action="/new" method="POST">
        <p><label for="new-title">Post Title:<input
          type="text"
          name="title"
          id="new-title"
          placeholder="Post Title"
        /></label></p>
        <p><label for="new-author">Your name:<input
          type="text"
          name="author"
          id="new-author"
          placeholder="Your name"
        /></label></p>
        <p><label for="new-content">Post Content:</label></p><textarea id="new-content" name="content"></textarea>
        <input type="submit" />
      </form>
    </div>
 
  </body>

  <hr />
  <footer>
    &copy; <a href="https://www.nhcarrigan.com">Nicholas Carrigan</a>
  </footer>
  <script>
    var exports = { __esModule: true };
  </script>
  <script src="../public/index.js"></script>
</html>
