<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/index.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Tangerine"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Indie Flower"
    />
    <title>Login</title>
  </head>
  <body>
    <h1 class="title">Login!</h1>
    <p class="content">Complete the form below to login.</p>
    <form action="/login" method="POST">
      <p>
        <label for="username"
          >Username: <input type="text" name="username"
        /></label>
      </p>
      <p>
        <label for="password"
          >Password: <input type="password" name="password"
        /></label>
      </p>
      <button type="submit">Login!</button>
    </form>
  </body>
</html>
