<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/index.css" type="text/css" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Tangerine"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Indie Flower"
  />
    <title>Welcome!</title>
  </head>
  <body>
    <h1 class="title">Welcome to the Forum!</h1>
    <p class="content">
      This is a forum/message board application. The application is still
      currently in alpha state, but you are welcome to begin exploring the
      features we have implemented! By continuing, you agree that the posts you
      make will be publicly available and that you will not include any private
      information.
    </p>
    <p class="content">
      Additionally, you agree that you will refrain from hate speech,
      harassment, trolling, or illegal/inapproriate content.
    </p>
    <p><button><a href="./login">Login</a></button> <button><a href="./register">Register</a></button></p>
  </body>
</html>
